<!DOCTYPE html>
<html ng-app="ngGather">

<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gather</title>
  <base href="/">
  <link rel="shortcut icon" href="http://7xiblm.com1.z0.glb.clouddn.com/o_19ijj1r296801fl2ttqs028149.ico" />
  <!-- inject:css -->
  <link rel="stylesheet" href="/vendor.825b8a07.css">
  <!-- endinject -->
  <theme-switcher></theme-switcher>
</head>

<body>
  <div class="notification-bar" notification-bar></div>
  <div class="container">
    <div ui-view></div>
  </div>
  <toast></toast>
  <!-- <notification-bar></notification-bar> -->
  <!-- inject:js -->
  <script src="/vendor.3b6c25e1.js"></script>
  <script src="/production.0364cc8b.js"></script>
  <!-- endinject -->
</body>

</html>
