<div ng-controller="ChooseCtrl">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand">ngGather</div>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="btn graybtn" ng-click="changeShow()">站点选择</a>
            </li>
            <li>
                <select class="form-control" ng-model="selectValue"
                        ng-options="dataChoose.value as dataChoose.str
                                for dataChoose in dataChooses"
                        ng-change="selectChange()">
                </select>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="btn" ng-click="getData()">重新获取</a>
            </li>
            <li>
                <a class="btn" ng-click="forceUpdate()">强制更新</a>
            </li>
            <li>
                <a class="btn">更新时间: {{updateTime | updateTimeFilter}}</a>
            </li>
        </ul>
    </nav>
    <div ng-show="ishow" id="sites">
        <table class="table table-bordered table-striped">
            <tr ng-repeat="choose in hadChooses">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="choose.ischecked" ng-change="CheckChange()"/>{{choose.name}}
                        </label>
                    </div>
                </td>
                <td style="vertical-align: middle">
                    <a href="{{choose.href}}" target="_blank">{{choose.detail}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>