<div ng-controller="contentsCtrl">
    <div id="circularG" ng-show="isloading" class="center-block">
        <div id="circularG_1" class="circularG">
        </div>
        <div id="circularG_2" class="circularG">
        </div>
        <div id="circularG_3" class="circularG">
        </div>
        <div id="circularG_4" class="circularG">
        </div>
        <div id="circularG_5" class="circularG">
        </div>
        <div id="circularG_6" class="circularG">
        </div>
        <div id="circularG_7" class="circularG">
        </div>
        <div id="circularG_8" class="circularG">
        </div>
    </div>
    <div class="row" ng-repeat="content in contents | timeFilter | contentFilter">
        <div class="contents">
            <div class="col-xs-12 col-sm-3 text-center">
                <a href="{{content.href}}" target="_blank">
                    <img ng-src="{{content.img | imgUrlChange}}" class="maxwidth">
                </a>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="col-xs-12 col-sm-10">
                    <a href="{{content.href}}" target="_blank">
                        <h4>[{{content.site}}] {{content.title}}</h4>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{content.gatherTime | date:"yy/MM/dd HH:mm"}}
                </div>
                <div class="col-xs-12 col-sm-12">
                    <p>{{content.intro}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <hr/>
            </div>
        </div>
    </div>

    <div class="addmore text-center" ng-click="addMore()">
        <a class="btn btn-info">{{addMoreInfo}}</a>
    </div>
</div>