<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gather</title>
  <link rel="shortcut icon" href="http://7xiblm.com1.z0.glb.clouddn.com/o_19ijj1r296801fl2ttqs028149.ico"/>
  <!-- inject:css -->
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
  <!-- endinject -->
</head>
<body ng-app="ngGather">
  <div class="container">
    <div ui-view></div>
  </div>
  <!-- inject:js -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-animate/angular-animate.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/vendor/lodash/lodash.min.js"></script>
  <script src="/app/js/app.js"></script>
  <script src="/app/js/controllers.js"></script>
  <script src="/app/js/template-app.js"></script>
  <!-- endinject -->
</body>
</html>