<div>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand text-center btn-link more-option" ng-click="ishide = !ishide">ngGather</a>
    </div>
    <ul class="nav navbar-nav navbar-left" ng-class="{'mobile-hide': ishide}">
      <li>
        <a class="btn btn-link" ng-click="changeSites()">站点选择</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-class="{'mobile-hide': ishide}">
        <a class="btn btn-link" ng-click="addMoreState !== 0 || getData()" ng-disabled="addMoreState !== 0">重新获取</a>
      </li>
      <li ng-class="{'mobile-hide': ishide}">
        <a class="btn btn-link" ng-click="changeTheme()">{{themeType ? '换白色主题' : '换黑色主题'}}</a>
      </li>
      <li>
        <a class="btn btn-link" ng-click="!canForceUpdte || forceUpdate()" ng-disabled="!canForceUpdte">更新时间: {{updateTime | updateTimeFilter}}</a>
      </li>
    </ul>
  </nav>
  <div ng-show="ishow" id="sites">
    <table class="table table-bordered table-striped">
      <tr ng-repeat="choose in (showSites || chooseSite)">
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="choose.ischecked" />{{choose.name}}
            </label>
          </div>
        </td>
        <td>
          <a href="{{choose.url}}" target="_blank">{{choose.description}}</a>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <a class="btn btn-primary" ng-click="saveSites()">保存</a>
          <a class="btn btn-warning" ng-click="saveSites(true)">取消</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div scroll-watch="{from: 0, to: -1}" sw-broadcast="{'load more': '$percentage > 90'}">
  <div class="row" ng-repeat="content in contents">
    <div class="contents">
      <div class="col-xs-12 col-sm-3 text-center">
        <a ng-href="{{content.href}}" target="_blank">
          <img ng-src="{{content.img | imgUrlChange}}">
        </a>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="col-xs-12 col-sm-10">
          <a ng-href="{{content.href}}" target="_blank">
            <div class="title">[{{content.site}}] {{content.title}}</div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-2 detail">
          {{content.gatherTime | date:"yy/MM/dd HH:mm"}}
        </div>
        <div class="col-xs-12 col-sm-12">
          {{content.intro}}
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <hr/>
      </div>
    </div>
  </div>
  <div class="addmore text-center">
    <a class="btn btn-primary" ng-click="addMoreState !== 0 || addMore()" ng-disabled="addMoreState !== 0">{{['加载更多~', '没有更多了~~', '加载中~~'][addMoreState]}}</a>
  </div>
</div>
